extends layout
block content
	hea	d
		include ./head.jade
		h3= title
	include ./bsnavbar2.jade
	br
	br
	br
	br
	if error
		div(class="alert alert-warning")
			a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
			strong= error
	if group
		table(border='1', align="center", style="padding:10px")
			tr
				td id
				td item
				td qty
				td description
			- for(var i = 0; i< group.length; i++){
				tr
					td= group[i].id
					td= group[i].item
					td= group[i].qty
					td= group[i].description
			- }
		h2(align="center") add/remove items
		form(action="/addRemove", method="POST")
			.form-group
				label(for="method") add or remove&nbsp;
					select#method
						option(value="add") add
						option(value="remove") remove
			.form-group
				label(for="item") item
				input#item.form-control(type="text", placeholder="Enter item")
			.form-group
				label(for="qty") amount
				input#qty.form-control(type="number", placeholder="Enter amount")
			button.btn.btn-primary(type="submit") modify