extends layout
block content
	head
		include ./head.jade
		h3= title
	include ./bsnavbar2.jade
	br
	br
	br
	br
	#userstuff(align='center')
		h2= username
		img(src='images/profiles/#{username}.jpeg')
	div(style='margin-left:20px')
	h3 Updates:
	if updates
		ul(type='none')
			- for(i=0; i<updates.length;i ++){
				li #{updates[i].elements} items were #{updates[i].affect} by #{updates[i].user} in #{updates[i].inventory} #{updates[i].time} hrs ago because #{updates[i].comment}
			- }
